.profile__images {
  position: relative;
}

.profile__user-cover-photo {
  height: 50vh;
  width: 80%;
  margin: 0 auto;
  background-image: url("https://images.unsplash.com/photo-1444703686981-a3abbc4d4fe3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fHByb2ZpbGUlMjBwaWN0dXJlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60");
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.profile__user-photo {
  position: absolute;
  top: 60%;
  left: 44%;
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
  border: 0.75rem solid #fff;
  cursor: pointer;
}

.profile__data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
}

.profile__follow-btns {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile__follow-btns button {
  margin: 2rem 1rem;
}

.profile__main {
  border-top: grey 1px solid;
  margin: 0 5rem;
  padding: 1rem;
  height: auto;
}

.profile__list {
  list-style: none;
}

.post__heading {
  font-size: 1.6rem;
  text-align: center;
  font-weight: 500;
}

.profile__btn {
  background-color: transparent;
  color: var(--primary-color);
}

.profile__edit {
  color: var(--primary-color);
  margin-left: 0.5rem;
  cursor: pointer;
}

.profile-photo__btn {
  padding: 1rem;
  width: 100%;
  border: none;
  outline: none;
  background-color: inherit;
  font-size: 1.6rem;
  font-weight: 500;
  cursor: pointer;
}

.profile_upload-btn {
  color: var(--primary-color);
}

.profile_remove-btn {
  color: tomato;
}
